node_modules
docker-compose*
Dockerfile*
coverage
compliance_test.sh
transeptor

# Docker
Dockerfile
docker-compose.yml

# secrets
.env

#Ignore the logs directory
logs/

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md
LICENSE
README.md
packages/**/README.md
packages/**/CHANGELOG.md
SECURITY.md
CONTRIBUTING.md

# Tests
packages/**/test
packages/**/lib
packages/tool/*

# Github & configs
.github
.codeclimate.yml
.codecov.yml
config.json

# Misc
.DS_Store
.vscode
LICENCE
npm-debug.log
tags.json
.vscode
.github
.gitignore
.eslintcache

# config
hardhat.config.ts
.eslint.cjs
.nvmrc
.eslintrc.cjs

