node_modules
docker-compose*
Dockerfile*
.nvmrc

# Production
/packages/bundler/node_modules
/packages/bundler/reports
/packages/bundler/test
/packages/bundler/dist
/packages/tools

# secrets
/packages/bundler/.env
/packages/bundler/.env.sample

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

#Ignore the logs directory
logs/

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md

# Hardhat files
artifacts
typechain
typechain-types

# Misc
.DS_Store
.vscode
LICENCE
npm-debug.log
tags.json
.vscode
.github
.gitignore
.eslintcache
/packages/bundler/transeptor-architecture.svg
*svg

# config
hardhat.config.ts
/packages/bundler/.eslint.cjs
