MNEMONIC=test test test test test test test test test test test junk
INFURA_API_KEY=<your-infura-api-key>
ALCHEMY_API_KEY=<your-alcemy-api-key>
BENEFICIARY=<address_to_receive_funds>
WHITE_LIST=<address_to_whitelist_SEPARATEDBY_COMMA>
BLACK_LIST=<address_to_blacklist_SEPARATEDBY_COMMA>
PINO_LOG_LEVEL=debug