[submodule "contracts/libs/account-abstraction"]
	path = contracts/libs/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
	branch = releases/v0.8
[submodule "contracts/libs/openzeppelin-contracts"]
	path = contracts/libs/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = master
[submodule "contracts/libs/forge-std"]
	path = contracts/libs/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
